# Ex1 - Filtering and Sorting Data

### Step 1. Import the necessary libraries

In [101]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [102]:
chipo = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv", delimiter="\t")
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

order_id                             1
quantity                             1
item_name             Nantucket Nectar
choice_description             [Apple]
item_price                      $3.39
Name: 2, dtype: object

### Step 4. How many products cost more than $10.00?

In [112]:
changes1 = lambda df : df.astype("float64")
chipo["item_price"] = changes1(chipo["item_price"].str.lstrip("$"))
chipo.sort_values("item_price", inplace=True)
chipo.drop_duplicates(subset="item_price", keep=False, inplace=True)
chipo.item_price

4509     1.99
2235     4.36
2944     5.07
2936     6.45
2441     7.50
3040     7.98
3599    10.50
4510    11.49
1257    11.80
3389    12.98
2645    13.35
3887    13.52
4152    15.00
3823    16.38
4489    17.80
445     22.20
2954    22.96
3334    26.07
409     32.94
3601    33.75
3480    35.25
3598    44.25
Name: item_price, dtype: float64

In [104]:
chipo.item_price.sum("quantity" == 1)

'$1.99 $10.50 $11.49 $11.80 $12.98 $13.35 $13.52 $15.00 $16.38 $17.80 $22.20 $22.96 $26.07 $32.94 $33.75 $35.25 $4.36 $44.25 $5.07 $6.45 $7.50 $7.98 '

In [105]:
# clean the item_price column and transform it in a float


# reassign the column with the cleaned prices


# delete the duplicates in item_name and quantity


# select only the products with quantity equals to 1

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [106]:
chipo["item_name"]

4509                           Chips
3599                   Bottled Water
4510                   Barbacoa Bowl
1257    Chips and Fresh Tomato Salsa
3389               6 Pack Soft Drink
2645             Chips and Guacamole
3887                   Side of Chips
4152                   Bottled Water
3823                 Chicken Burrito
4489             Chips and Guacamole
445                             Bowl
2954                   Steak Burrito
3334                      Steak Bowl
409                     Chicken Bowl
3601                  Veggie Burrito
3480                   Carnitas Bowl
2235                     Canned Soda
3598    Chips and Fresh Tomato Salsa
2944                   Side of Chips
2936                           Chips
2441                   Bottled Water
3040             Chips and Guacamole
Name: item_name, dtype: object

In [107]:
# delete the duplicates in item_name and quantity


# select only the products with quantity equals to 1


# select only the item_name and item_price columns


# sort the values from the most to less expensive

### Step 6. Sort by the name of the item

In [113]:

chipo.sort_values(["item_name"])

# OR

,order_id,quantity,item_name,choice_description,item_price
3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98
4510,1793,1,Barbacoa Bowl,[Guacamole],11.49
2441,970,5,Bottled Water,NaN,7.50
3599,1443,7,Bottled Water,NaN,10.50
4152,1660,10,Bottled Water,NaN,15.00
445,193,3,Bowl,"[Braised Carnitas, Pinto Beans, [Sour Cream, C...",22.20
2235,901,4,Canned Soda,[Sprite],4.36
3480,1398,3,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",35.25
409,178,3,Chicken Bowl,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",32.94
3823,1533,2,Chicken Burrito,"[[Lettuce, Rice]]",16.38
4509,1793,1,Chips,NaN,1.99
2936,1167,3,Chips,NaN,6.45
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25
1257,511,4,Chips and Fresh Tomato Salsa,NaN,11.80
4489,1786,4,Chips and Guacamole,NaN,17.80
3040,1210,2,Chips and Guacamole,NaN,7.98
2645,1051,3,Chips and Guacamole,NaN,13.35
2944,1170,3,Side of Chips,NaN,5.07
3887,1559,8,Side of Chips,NaN,13.52
3334,1336,3,Steak Bowl,"[Tomatillo Green Chili (Medium), [Rice, Black ...",26.07
2954,1175,2,Steak Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Roaste...",22.96
3601,1443,3,Veggie Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",33.75

### Step 7. What was the quantity of the most expensive item ordered?

In [115]:
chipo.sort_values(["item_price"]).tail(1)

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [117]:
chipo.groupby(["item_name"])
chipo

,order_id,quantity,item_name,choice_description,item_price
4509,1793,1,Chips,NaN,1.99
2235,901,4,Canned Soda,[Sprite],4.36
2944,1170,3,Side of Chips,NaN,5.07
2936,1167,3,Chips,NaN,6.45
2441,970,5,Bottled Water,NaN,7.50
3040,1210,2,Chips and Guacamole,NaN,7.98
3599,1443,7,Bottled Water,NaN,10.50
4510,1793,1,Barbacoa Bowl,[Guacamole],11.49
1257,511,4,Chips and Fresh Tomato Salsa,NaN,11.80
3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98
2645,1051,3,Chips and Guacamole,NaN,13.35
3887,1559,8,Side of Chips,NaN,13.52
4152,1660,10,Bottled Water,NaN,15.00
3823,1533,2,Chicken Burrito,"[[Lettuce, Rice]]",16.38
4489,1786,4,Chips and Guacamole,NaN,17.80
445,193,3,Bowl,"[Braised Carnitas, Pinto Beans, [Sour Cream, C...",22.20
2954,1175,2,Steak Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Roaste...",22.96
3334,1336,3,Steak Bowl,"[Tomatillo Green Chili (Medium), [Rice, Black ...",26.07
409,178,3,Chicken Bowl,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",32.94
3601,1443,3,Veggie Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",33.75
3480,1398,3,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",35.25
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

### Step 9. How many times did someone order more than one Canned Soda?

20